html{font-size:31.25vw;}
/*a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}*/

body{
	font-size: 14px;
	height: 16.64rem;
	background: url(../images/bg.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.fl{
	float:left;
}
.fr{
	float:right;
}

::-webkit-scrollbar  
{  
    width: .04rem;  
    height: .04rem;
   background-color: #eeede9;
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 15px;  
    background-color: #eeede9;
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 15px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #996700;  

} 
.fix_box_clloapse,.fix_box_expand{
	width:.38rem;
	position: fixed;
	bottom:1rem;
	right:0;
	z-index: 9999999999;
}
.fix_box_expand{
	width:.38rem;
	position: fixed;
	bottom:1rem;
	right:0;
	z-index: 9999999999;
	display: none;
}
.to_top{
	height:.38rem;
	width:.38rem;
	position: absolute;
}
.top_clloapse{
	background: url(../images/btn_side.png) no-repeat center;
	background-size: contain;
}
.top_expand{
	background: url(../images/btn_side_hover.png) no-repeat center;
	background-size: contain;
}
.to_top img{
	display: block;
	height:.12rem;
	width:.12rem;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	overflow: hidden;
}
.select_lang{
	height:.38rem;
	width:.38rem;
	background: url(../images/btn_side.png) no-repeat center;
	background-size: contain;
	font-size: .1rem;
	color:#af903e;
	margin-top:.38rem;
	text-align: center;
	line-height: .38rem;
}
.choose_lang{
	height:.38rem;
	width:.38rem;
	background: url(../images/btn_side_hover.png) no-repeat center;
	background-size: contain;
    margin-top: .38rem;
    color:#af903e;
    font-size: .1rem;
	margin-top:.38rem;
	text-align: center;
	line-height: .38rem;
}
.lang_list{
    position: absolute;
    right: 0.38rem;
    top: 0rem;
    box-sizing: border-box;
}
.lang{
	width:.88rem;
	height:.38rem;
	color:#af903e;
	text-align: center;
	font-size: .1rem;
	line-height: .375rem;
}
.first_lang{
	background: url(../images/btn_side_hover_top.png) no-repeat center;
    background-size: 100% 100%;
	/*border-bottom: .01rem solid #af903e;*/
	/*border-color:#af903e;*/

}
.last_lang{
	background: url(../images/btn_side_hover_bottom.png) no-repeat center;
    background-size: 100% 100%;
	/*margin-top: -0.01rem;*/
}
.top{
	height:0.35rem;
	background: rgba(0,0,0,.7);
	width:100%;
	/*overflow: hidden;*/
}
.top_title{
	font-size: 0.12rem;
	color:#dbaa02;
	margin-top:0.1rem;
	margin-left:0.045rem;
}
.logo{
	height:0.3rem;
	width:0.3rem;
	margin-left:0.03rem;
	margin-top:0.025rem;
	background: url(../images/icon.png) no-repeat top center;
	background-size: contain;
}
.top_icon{
	display: block;
	height:0.25rem;
	width:0.25rem;
	margin:0.065rem 0.05rem;
	-webkit-tap-highlight-color:transparent;
}
.top_icon1{
	background: url(../images/btn_fb.png) no-repeat top center;
	background-size: contain;
}
.top_icon2{
	background: url(../images/btn_dl.png) no-repeat top center;
	background-size: contain;
	margin-right:0.05rem;
}
.logo_box{
	height:0.96rem;
	width:1.525rem;
	background: url(../images/logo.png) no-repeat center;
	background-size: contain;
}
.video{
	height:0.35rem;
	width:0.35rem;
	background: url(../images/btn_video.png) no-repeat center;
	background-size: contain;
	margin-left:0.585rem;
}
.title1{
	height:0.425rem;
	background: url(../images/tit_cha.png) no-repeat center;
	background-size: contain;
	margin-top:1.36rem;
	margin-bottom:0.2rem;
}
.role_box {
    width: 3.095rem;
    min-height: 5.21rem;
    background: url(../images/bg_cha_people.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    padding: 0.045rem;
}
.role_top{
	width:100%;	
	position: relative;
}
.view_detail{
	font-size: .09rem;
	line-height: .25rem;
	color:#dbaa00;
	width:1rem;
	height:.25rem;
	text-align: center;
	background: url(../images/btn_detail.png) no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	top: 3.29rem;
    left: 2rem;
    z-index:2;
}
.role_title{
	height:0.79rem;
	display: none;
	box-sizing: border-box;
	padding-top:0.16rem;
	text-align: center;
	color:#dbaa00;
}
.role_title h3{
	font-weight: 100;
	font-family: baskerville;
	font-size:0.24rem;
}
.role_title p{
	font-family: arial;
    font-size: .12rem;
    margin-top: 0.05rem;
}
.role_title_active{
	display: block;
}
.big_role_list{

}
.big_role_pic{
	height: 3.26rem;
    /*margin-top: -.2rem;*/
	display: none;
}
.big_role_pic_active{
	display: block;
	background-size: contain;
}
.big_role_pic1{
	background:url(../images/img_cha_people_01.png) no-repeat; 	
	background-size: contain;
}
.big_role_pic2{
	background:url(../images/img_cha_people_02.png) no-repeat; 	
	background-size: contain;
}
.big_role_pic3{
	background:url(../images/img_cha_people_03.png) no-repeat; 	
	background-size: contain;
}
.big_role_pic4{
	background:url(../images/img_cha_people_04.png) no-repeat; 	
	background-size: contain;
}
.big_role_pic5{
	background:url(../images/img_cha_people_05.png) no-repeat; 	
	background-size: contain;
}
.big_role_pic6{
	background:url(../images/img_cha_people_06.png) no-repeat; 	
	background-size: contain;
}
.big_role_pic7{
	background:url(../images/img_cha_people_07.png) no-repeat; 	
	background-size: contain;
}
.small_role_list{
	height:1.475rem;
	position: relative;
}
.small_role{
	width:.62rem;
	height:.71rem;
	position: absolute;
}
.small_role1{
	top:0;
	left:.285rem;
	background:url(../images/img_cha_head_01.png) no-repeat;
	background-size: contain;
}
.small_role2{
	top:0;
	left:.955rem;
	background:url(../images/img_cha_head_02.png) no-repeat;
	background-size: contain;

}
.small_role3{
	top:0;
	left:1.63rem;
	background:url(../images/img_cha_head_03.png) no-repeat;
	background-size: contain;

}
.small_role4{
	top:0;
	left:2.29rem;
	background:url(../images/img_cha_head_04.png) no-repeat;
	background-size: contain;

}
.small_role5{
	top:.565rem;
	left:.62rem;
	background:url(../images/img_cha_head_05.png) no-repeat;
	background-size: contain;

}
.small_role6{
	top:.565rem;
	left:1.29rem;
	background:url(../images/img_cha_head_06.png) no-repeat;
	background-size: contain;

}
.small_role7{
	top:.565rem;
	left:1.965rem;
	background:url(../images/img_cha_head_07.png) no-repeat;
	background-size: contain;
}
.small_role1.cur {
    background: url(../images/img_cha_head_01_hover.png) no-repeat;
    background-size: contain;
}
.small_role2.cur {
    background: url(../images/img_cha_head_02_hover.png) no-repeat;
    background-size: contain;
}
.small_role3.cur {
    background: url(../images/img_cha_head_03_hover.png) no-repeat;
    background-size: contain;
}
.small_role4.cur {
    background: url(../images/img_cha_head_04_hover.png) no-repeat;
    background-size: contain;
}
.small_role5.cur {
    background: url(../images/img_cha_head_05_hover.png) no-repeat;
    background-size: contain;
}
.small_role6.cur {
    background: url(../images/img_cha_head_06_hover.png) no-repeat;
    background-size: contain;
}
.small_role7.cur {
    background: url(../images/img_cha_head_07_hover.png) no-repeat;
    background-size: contain;
}
.role_bottom_list{
	display: none;
}
.big_role_voice{
    width:1.555rem;
	height:0.4rem;
	position: absolute;
	top:3.232rem;
	left:0.15rem;
	display: none;
	background-size: contain;
	cursor: pointer;
	-webkit-tap-highlight-color:transparent;
}
.big_role_voice1{
	width:1.55rem;
	height:0.36rem;
	background: url(../images/cv_01.png) no-repeat;
	background-size: contain;
}
.big_role_voice2{
	width:1.505rem;
	height:0.36rem;
	background: url(../images/cv_02.png) no-repeat;
	background-size: contain;
}
.big_role_voice3{
	width:1.515rem;
	height:0.36rem;
	background: url(../images/cv_04.png) no-repeat;
	background-size: contain;
}
.big_role_voice4{
	width:1.3rem;
	height:0.36rem;
	background: url(../images/cv_04.png) no-repeat;
	background-size: contain;
}
.big_role_voice5{
	width:1.42rem;
	height:0.36rem;
	background: url(../images/cv_05.png) no-repeat;
	background-size: contain;
}
.big_role_voice6{
    width:1.455rem;
	height:0.36rem;
	background: url(../images/cv_06.png) no-repeat;
	background-size: contain;
}
.big_role_voice7{
	width:1.485rem;
	height:0.36rem;
	background: url(../images/cv_07.png) no-repeat;
	background-size: contain;
}

.big_role_voice_active{
	z-index: 200000;
	display: block;
}
.title2{
	height:0.425rem;
	background: url(../images/tit_id.png) no-repeat center;
	background-size: contain;
	margin-top:0.35rem;
	margin-bottom:0.2rem;
}
.intro{
	width:3.1rem;
	height:3.68rem;
	background: #fefaee;
	box-sizing: border-box;
	padding:0.04rem;
	margin-left: 0.05rem;
	border:0.01rem solid #af8145;
}
.intro_inner{
	position: relative;
}
.big_intro_list{
	box-sizing: border-box;
	border-bottom: none;
	box-sizing: border-box;
}
.big_intro_list::before{
	border-color:#af8145;
}
.big_intro{
	width:3rem;
	height:2.255rem;
	display: none;
	position: absolute;
}
.big_intro::before{
	border-color:#af8145;
}

.intro_active{
	display: block;
}
.big_intro1{
	background: url(../images/img_id_01.jpg) no-repeat center;
	background-size: 100% 100%;
}
.big_intro2{
	background: url(../images/img_id_02.jpg) no-repeat center;
	background-size: 100% 100%;
}
.big_intro3{
	background: url(../images/img_id_03.jpg) no-repeat center;
	background-size: 100% 100%;
}
.big_intro4{
	background: url(../images/img_id_04.jpg) no-repeat center;
	background-size: 100% 100%;
}
.title_list{
	width:3rem;
	height:1.315rem;
	background: #efe2cb;
	box-sizing: border-box;
	position: absolute;
	top:2.2rem;
}
.title_list::before{
	border-color: #c49d5c;
}
.small_intro{
	width:1.5rem;
	height:.66rem;
	background: url(../images/btn_id.jpg) no-repeat center;
	background-size: contain;
	float: left;
	/*border:1px solid #c49d5c;*/
	box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
}
.small_intro_hover{
	background: url(../images/btn_id_hover.jpg) no-repeat center;
	background-size: contain;
    -webkit-tap-highlight-color:transparent;
}
.small_intro::before{
    border-color: #c39eb5;
}
.small_intro a{
	font-size: .11rem;
	color:#9a6700;
	font-family: arial;
}
.small_intro a img{
	width:.23rem;
	height:.26rem;
	margin-left:.2rem;
	margin-top:.2rem;
}
.small_intro a span{
	width:.95rem;
	display: block;
	float: right;
	margin-top:.2rem;
	margin-right: .05rem;
}
.intro1 a span{
	margin-top:.28rem;
	margin-right: .05rem;
}
.intro4 a span{ 
	margin-top:.28rem;
	margin-right: .06rem;
}
.intro3 a span{ 
	width: .6rem;
    margin-right: .37rem;
}
.title3{
	height:.425rem;
	background: url(../images/tit_ss.png) no-repeat center;
	background-size: contain;
	margin-top:.35rem;
	margin-bottom: .2rem;
}
#image_box{
	height:1.25rem;
	padding:.1rem;
	padding-right:0;
	box-sizing: border-box;
	background:#e4e4e4; 
}
#wrapper{
	height:1.05rem;
	width:100%;
	overflow: hidden;
	background: #e4e4e4;
}
.iscroll{
	width:7.5rem;
	height:1.05rem;
	overflow: hidden;
}
.iscroll li{
	float:left;
	width:1.5rem;
	height:1.05rem;
	padding-right:0.1rem;
	background: #e4e4e4;
	box-sizing:border-box;
}
.iscroll li img{
	width:1.4rem;
	height:1.05rem;
}
.iscroll .active{
     background: red;
}

.title4{
	height:0.5rem;
}
.bottom{
	background: #000;
}
.bottom_inner{
	font-size: .05rem;
	color:#a2a2a2;
	overflow: hidden;
}
.link{
	text-align: center;
	margin: .14rem auto;
}
.bottom .link span{
	margin:0 .04rem;
}
.bottom_inner .link a{
	color:#a2a2a2;
}
.logo_imgs{
	height:.17rem;
}
.logo_imgs img{
	margin-top: .14rem;
	margin-bottom: .14rem;
	margin-left:.075rem;
	width:3.065rem;
	height:.15rem;
}
.copy_right{
	font-size: .07rem;
	margin:.14rem auto;
	text-align: center;
	padding-top:.14rem;
}
.copy_right p{
	line-height: 0.1rem;
	font-size: .07rem;
}
.page_mask{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,.8);
	z-index:1000000;
	display: none;
}
.alert_box:after{
    content:"";
    width:0;
    height:100%;
    display:inline-block;
    vertical-align:middle;
}

.alert_box{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    text-align:center;
}
.content_box{
	width:3rem;
	min-height:1rem;
    display:inline-block;
    vertical-align:middle;
}
.content{
	border:.015rem solid #be9f5c;
	background: #eeede9;
	box-sizing: border-box;
	padding:.1rem;
	padding-bottom: .5rem;
	position: relative;
}
.cont_img_box{
	border:1px solid #be9f5c;
}
.cont_img_box1{
	/*width:2rem;*/
	height:2rem;
	background: url(../images/img_ss_01.jpg) no-repeat center;
	background-size: 100% 100%;

}
.cont_img_box2{
	/*width:2rem;*/
	height:2rem;
	background: url(../images/img_ss_02.jpg) no-repeat center;
	background-size: 100% 100%;

}
.cont_img_box3{
	/*width:2rem;*/
	height:2rem;
	background: url(../images/img_ss_03.jpg) no-repeat center;
	background-size: 100% 100%;

}
.cont_img_box4{
	/*width:2rem;*/
	height:2rem;
	background: url(../images/img_ss_04.jpg) no-repeat center;
	background-size: 100% 100%;

}
.cont_img_box5{
	/*width:2rem;*/
	height:2rem;
	background: url(../images/img_ss_05.jpg)  no-repeat center;
	background-size: 100% 100%;

}
.close{
	position: absolute;
    width: .26rem;
    height: .26rem;
    background: url(../images/btn_close.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    top: -.35rem;
    right: -.03rem;
    -webkit-tap-highlight-color:transparent;
}
.close_hover{
	background: url(../images/btn_close_hover.png) no-repeat;
	background-size: contain;
}
.content_btn{
	width:.825rem;
	height:.285rem;
	cursor: pointer;
	float:left;
	background: url(../images/btn_detail.png) no-repeat center;
	background-size: contain;
	color:#dca900;
	font-size: .09rem;
	line-height: .285rem;
	margin-top:.1rem;
	-webkit-tap-highlight-color:transparent;
}
.content_btn_l{
	float:left;
	margin-left:.4rem;
}
.content_btn_r{
	float:right;
	margin-right:.4rem;
}
.content li{
	display: none;
}
.content .active_content{
	display: block;
}
.video_box{
	width:3.1rem;
	height:2.78rem;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	margin:auto;
	display: none;
}
.video_cont{
	width:3.1rem;
	height:2.78rem;
    border: 3px solid #be9f5c;
    background: #eeede9;
    box-sizing: border-box;
}
.close_video{
	position: absolute;
    width: .26rem;
    height: .26rem;
    background: url(../images/btn_close.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    top: -.35rem;
    right: -.03rem;
    -webkit-tap-highlight-color:transparent;
}
.close_video_hover{
	background: url(../images/btn_close_hover.png) no-repeat;
	background-size: contain;
}

.detail_list{
	width: 3.1rem;
    height: 3.125rem;
    display: inline-block;
    vertical-align: middle;
    border: .015rem solid #be9f5c;
    background: #eeede9;
    padding: .2rem .135rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.detail{
	height:2.25rem;
    color:#dbaa00;
    display: none;
    text-align: left;
}
.detail_active{
	display: block;
}
.detail h3{
	font-weight: 100;
	font-family: baskerville;
	font-size:0.24rem;
}
.detail .detail_big_role_voice{
	-webkit-tap-highlight-color:transparent;	
	background-size: contain;
}
.detail .big_role_voice1{
    width:1.55rem;
	height:0.36rem;
}
.detail .big_role_voice2{
    width:1.505rem;
	height:0.36rem;
}
.detail .big_role_voice3{
    width:1.515rem;
	height:0.36rem;
}
.detail .big_role_voice4{
    width:1.3rem;
	height:0.36rem;
}
.detail .big_role_voice5{
    width:1.42rem;
	height:0.36rem;
}
.detail .big_role_voice6{
    width:1.455rem;
	height:0.36rem;
}
.detail .big_role_voice7{
    width:1.485rem;
	height:0.36rem;
}

.detail p{
	font-family: arial;
    font-size: .12rem;
    margin-top: .1rem;
    
}
.detail .detail_title{
	height: .35rem;
}
.detail .pass{
	height:1.025rem;
	overflow-y: scroll;
}
.detail_list .detail_btn{
	width:.825rem;
	height:.285rem;
	cursor: pointer;
	float:left;
	background: url(../images/btn_detail.png) no-repeat center;
	background-size: contain;
	color:#dca900;
	font-size: .09rem;
	line-height: .285rem;
	margin-top: .18rem;
	-webkit-tap-highlight-color:transparent;
	text-align: center;
}
.detail_list .pre_btn{
    float:left;
	margin-left:.45rem;
}
.detail_list .next_btn{
   float:right;
   margin-right:.45rem;
}

.close_detail_btn{
	position: absolute;
    width: .26rem;
    height: .26rem;
    background: url(../images/btn_close.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    top: -.35rem;
    right: -.03rem;
    -webkit-tap-highlight-color:transparent;
}
.close_detail_btn_hover{
	position: absolute;
    width: .26rem;
    height: .26rem;
	background: url(../images/btn_close_hover.png) no-repeat;
	background-size: contain;
}
/*.detail_list_content {
    background: #eeede9;
    box-sizing: border-box;
    padding: .1rem;
    padding-bottom: .5rem;
    position: relative;
}*/
